

  @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Foldit:wght@500&family=Nabla&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #321E1E;
    box-sizing: border-box;

}

.main__header {
    text-align: center;
    padding: 24px;
    
}

.main__titulo {
    color: yellow;
    font-family: 'Foldit', cursive;
    font-size: 5rem;
}
.main__movies {
    padding: 5% 10% 0 10%;
}

.main__menu__genres {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.main__genres {
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Nabla', cursive;
    text-decoration: none;
}

.main__genres:hover {
    font-size: 2.20rem;
    padding: 20px;
}

.genre__sections {
    padding: 5%;
}

.action__genre {
    text-align: center;
    font-family: 'Bungee Spice', cursive;
}

.fiction__genre {
    text-align: center;
    font-family: 'Bungee Spice', cursive;
}

.heroes__genre {
    text-align: center;
    font-family: 'Bungee Spice', cursive;
}

.games__genre {
    text-align: center;
    font-family: 'Bungee Spice', cursive;
}

.series {
    text-align: center;
    font-family: 'Bungee Spice', cursive;
}
.main__logos__display {
    display: flex;
    gap: 25px;
}

.main__filme__logos {
    width: 200px;
    height: 200px;
    border-radius: 5%;
}

.rodape {
    background-color: #1A120B;
    padding: 24px;
    text-align: center;
    font-size: 0.63rem;
    font-weight: 400;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'Bungee Spice', cursive;
}
