
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Nabla&family=Reem+Kufi+Ink&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #321E1E;
    box-sizing: border-box;
}

.main__header {
    text-align: center;
    padding: 2% 0 0 0;   
}

.main__titulo {
    font-family: 'Bungee Spice', cursive;
    font-size: 5rem;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}
.main__movies {
    display: flex;
    padding: 5% 10% 0 10%;
    flex-direction: column;
    align-items: center;
}

/* .minions__giphy {
    box-shadow: 0 0 1em yellow, 0 0 0.2em yellow;
    position: absolute;
    top: 21.5%;
    right: 16.5%;
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

.minions__giphy2 {
    box-shadow: 0 0 1em yellow, 0 0 0.2em yellow;
    position: absolute;
    top: 21.5%;
    left: 16.5%;
    width: 15%;
    height: 15%;
    border-radius: 50%;
} */

.main__menu__genres {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.main__genres {
    font-size: 1.20rem;
    font-family: 'Bungee Spice', cursive;
    text-decoration: none;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.main__genres:hover {
    font-size: 1.30rem;
    padding: 20px;
}

.genre__sections {
    padding: 5% 5% 5% 5%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.main__genres2 {
    text-align: center;
    font-family: 'Bungee Spice', cursive;
    font-size: 2rem;
    padding: 6%;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.main__genres2:hover {
    font-size: 2.10rem;
}

.main__logos__display {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    /* position: relative;
    left: 2%; */
}

.main__filme__logos {
    width: 150px;
    height: 200px;
    border-radius: 10%;
}

.rodape {
    background-color: #1A120B;
    padding: 24px;
    text-align: center;
    font-size: 0.63rem;
    font-weight: 400;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'Bungee Spice', cursive;
    box-shadow: 0 0 1em yellow, 0 0 0.2em yellow;
}


#mySidenav a {
    position: absolute;
    left: -115px;
    transition: 0.03s;
    padding: 15px;
    width: 100px; 
    text-decoration: none; 
    font-size: 18px;
    border-radius: 0 10px 10px 0;
    font-family: 'Bungee Spice', cursive;
    box-shadow: 0 0 1em yellow, 0 0 0.2em yellow;
}
  
#mySidenav a:hover {
    left: 0;
}
  
#sobre {
    top: 20px;
    background-color: black;
}
  
#github {
    top: 80px;
    background-color: black;
}

@media (max-width: 1150px)
{
    .main__movies {
        flex-direction: column;
        padding: 5%;
        flex-wrap: wrap;
        align-content: center;
    }
    .main__menu__genres {
        padding: 10%;
    }
    .genre__sections {
        width: auto;
    }
}