
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Nabla&family=Reem+Kufi+Ink&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #321E1E;
    box-sizing: border-box;

}

.main__header {
    text-align: center;
    padding: 24px;
    
}

.main__titulo {
    font-family: 'Bungee Spice', cursive;
    font-size: 5rem;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}
.main__movies {
    padding: 5% 10% 0 10%;
}

.main__menu__genres {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.main__genres {
    font-size: 1.50rem;
    font-family: 'Bungee Spice', cursive;
    text-decoration: none;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.main__genres:hover {
    font-size: 1.60rem;
    padding: 20px;
}

.genre__sections {
    padding: 5%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.main__genres2 {
    text-align: center;
    font-family: 'Bungee Spice', cursive;
    font-size: 2rem;
    padding: 6%;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.main__genres2:hover {
    font-size: 2.10rem;
}

.main__logos__display {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.main__filme__logos {
    width: 150px;
    height: 200px;
    border-radius: 10%;
}

.rodape {
    background-color: #1A120B;
    padding: 24px;
    text-align: center;
    font-size: 0.63rem;
    font-weight: 400;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'Bungee Spice', cursive;
}
